body{background-color: lightgrey;}
table {background-color: white; border:solid; border-color:red;}

#contaner{
  background-color: orange;
  height:70px;
  }

#nav{
  background-color: blue;
  height: 50px;
}

#md{
  background-color: green;
    height: 40px;
}

#footer{
  background-color: red;
  height: 30px;
}



.table1{width:300px; height:100px;}
.table2{width:500px; height:200px}

.tab1h{
  border:solid;
  border-color: red;
  height:50px;
  width:100px;
  }

td{border:solid;}

#tab2d1{color: white;
  background-color:#ff1493;
  }

#tab2d2{color: white;
    background-color:#ff1493;
    }

h1{
  color: red;
  height: 10px;
  background-color: white;
  padding-left: 200px;
  padding-top:  100px;
  padding-bottom:  300px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: :5px;
}
